---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: hcloudmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: HCloudMachineTemplate
    listKind: HCloudMachineTemplateList
    plural: hcloudmachinetemplates
    shortNames:
    - capihcmt
    singular: hcloudmachinetemplate
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Image name
      jsonPath: .spec.template.spec.imageName
      name: Image
      type: string
    - description: Placement group name
      jsonPath: .spec.template.spec.placementGroupName
      name: Placement group
      type: string
    - description: Server type
      jsonPath: .spec.template.spec.type
      name: Type
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: HCloudMachineTemplate is the Schema for the hcloudmachinetemplates
          API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: HCloudMachineTemplateSpec defines the desired state of HCloudMachineTemplate.
            properties:
              template:
                description: HCloudMachineTemplateResource describes the data needed
                  to create am HCloudMachine from a template.
                properties:
                  metadata:
                    description: Standard object's metadata.
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: 'Annotations is an unstructured key value map
                          stored with a resource that may be set by external tools
                          to store and retrieve arbitrary metadata. They are not queryable
                          and should be preserved when modifying objects. More info:
                          http://kubernetes.io/docs/user-guide/annotations'
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: 'Map of string keys and values that can be used
                          to organize and categorize (scope and select) objects. May
                          match selectors of replication controllers and services.
                          More info: http://kubernetes.io/docs/user-guide/labels'
                        type: object
                    type: object
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      imageName:
                        description: ImageName is the reference to the Machine Image
                          from which to create the machine instance.
                        minLength: 1
                        type: string
                      placementGroupName:
                        type: string
                      providerID:
                        description: ProviderID is the unique identifier as specified
                          by the cloud provider.
                        type: string
                      sshKeys:
                        description: define Machine specific SSH keys, overrides cluster
                          wide SSH keys
                        items:
                          description: SSHKey defines the SSHKey for HCloud.
                          properties:
                            fingerprint:
                              description: Fingerprint of SSH key - added by controller
                              type: string
                            name:
                              description: Name of SSH key
                              minLength: 1
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                      type:
                        description: Type is the HCloud Machine Type for this machine.
                        enum:
                        - cpx11
                        - cx21
                        - cpx21
                        - cx31
                        - cpx31
                        - cx41
                        - cpx41
                        - cx51
                        - cpx51
                        - ccx11
                        - ccx12
                        - ccx21
                        - ccx22
                        - ccx31
                        - ccx32
                        - ccx41
                        - ccx42
                        - ccx51
                        - ccx52
                        - ccx62
                        type: string
                    required:
                    - imageName
                    - type
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
