---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: hetznerclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: HetznerCluster
    listKind: HetznerClusterList
    plural: hetznerclusters
    shortNames:
    - capihc
    singular: hetznercluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this HetznerCluster belongs
      jsonPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
      name: Cluster
      type: string
    - description: Cluster infrastructure is ready for Nodes
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: API Endpoint
      jsonPath: .spec.controlPlaneEndpoint
      name: Endpoint
      priority: 1
      type: string
    - description: Control plane regions
      jsonPath: .spec.controlPlaneRegions
      name: Regions
      type: string
    - description: Indicates if private network is enabled.
      jsonPath: .spec.hcloudNetwork.enabled
      name: Network enabled
      type: boolean
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: HetznerCluster is the Schema for the hetznercluster API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: HetznerClusterSpec defines the desired state of HetznerCluster.
            properties:
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              controlPlaneLoadBalancer:
                description: ControlPlaneLoadBalancer is optional configuration for
                  customizing control plane behavior. Naming convention is from upstream
                  cluster-api project.
                properties:
                  algorithm:
                    allOf:
                    - enum:
                      - round_robin
                      - least_connections
                    - enum:
                      - round_robin
                      - least_connections
                    default: round_robin
                    description: Could be round_robin or least_connection. The default
                      value is "round_robin".
                    type: string
                  extraServices:
                    description: Defines how traffic will be routed from the Load
                      Balancer to your target server.
                    items:
                      description: LoadBalancerServiceSpec defines a Loadbalancer
                        Target.
                      properties:
                        destinationPort:
                          description: DestinationPort defines the port on the server.
                          maximum: 65535
                          minimum: 1
                          type: integer
                        listenPort:
                          description: ListenPort, i.e. source port, defines the incoming
                            port open on the loadbalancer.
                          maximum: 65535
                          minimum: 1
                          type: integer
                        protocol:
                          description: Protocol specifies the supported Loadbalancer
                            Protocol.
                          enum:
                          - http
                          - https
                          - tcp
                          type: string
                      type: object
                    type: array
                  name:
                    type: string
                  port:
                    default: 6443
                    description: API Server port. It must be valid ports range (1-65535).
                      If omitted, default value is 6443.
                    maximum: 65535
                    minimum: 1
                    type: integer
                  region:
                    description: Region contains the name of the HCloud location the
                      load balancer is running.
                    enum:
                    - fsn1
                    - hel1
                    - nbg1
                    - ash
                    type: string
                  type:
                    default: lb11
                    description: Loadbalancer type
                    enum:
                    - lb11
                    - lb21
                    - lb31
                    type: string
                required:
                - region
                type: object
              controlPlaneRegions:
                default:
                - fsn1
                description: ControlPlaneRegion consists of a list of HCloud Regions
                  (fsn, nbg, hel). Because HCloud Networks have a very low latency
                  we could assume in some use-cases that a region is behaving like
                  a zone https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone
                items:
                  description: Region is a Hetzner Location
                  enum:
                  - fsn1
                  - hel1
                  - nbg1
                  - ash
                  type: string
                minItems: 1
                type: array
              hcloudNetwork:
                description: HCloudNetworkSpec defines the Network for Hetzner Cloud.
                  If left empty no private Network is configured.
                properties:
                  cidrBlock:
                    default: 10.0.0.0/16
                    description: CIDRBlock defines the cidrBlock of the HCloud Network.
                      A Subnet is required.
                    type: string
                  enabled:
                    description: Enabled defines whether the network should be enabled
                      or not
                    type: boolean
                  networkZone:
                    default: eu-central
                    description: NetworkZone specifies the HCloud network zone of
                      the private network.
                    enum:
                    - eu-central
                    - us-east
                    type: string
                  subnetCidrBlock:
                    default: 10.0.0.0/24
                    description: SubnetCIDRBlock defines the cidrBlock for the subnet
                      of the HCloud Network.
                    type: string
                required:
                - enabled
                type: object
              hcloudPlacementGroups:
                items:
                  description: HCloudPlacementGroupSpec defines a PlacementGroup.
                  properties:
                    name:
                      minLength: 1
                      type: string
                    type:
                      default: spread
                      enum:
                      - spread
                      type: string
                  required:
                  - name
                  type: object
                type: array
              hetznerSecretRef:
                description: HetznerSecretRef is a reference to a token to be used
                  when reconciling this cluster. This is generated in the security
                  section under API TOKENS. Read & write is necessary.
                properties:
                  key:
                    description: HetznerSecretKeyRef defines the key name of the HetznerSecret.
                      Need to specify either HCloudToken or both HetznerRobotUser
                      and HetznerRobotPassword.
                    properties:
                      hcloudToken:
                        type: string
                      hetznerRobotPassword:
                        type: string
                      hetznerRobotUser:
                        type: string
                    type: object
                  name:
                    type: string
                required:
                - key
                - name
                type: object
              sshKeys:
                description: SSHKeys are cluster wide. Valid values are a valid SSH
                  key name.
                properties:
                  hcloud:
                    items:
                      description: SSHKey defines the SSHKey for HCloud.
                      properties:
                        fingerprint:
                          description: Fingerprint of SSH key - added by controller
                          type: string
                        name:
                          description: Name of SSH key
                          minLength: 1
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                  robotRescueSecretRef:
                    description: SSHSecretRef defines the secret containing all information
                      of the SSH key used for Hetzner robot.
                    properties:
                      key:
                        description: SSHSecretKeyRef defines the key name of the SSHSecret.
                        properties:
                          name:
                            type: string
                          privateKey:
                            type: string
                          publicKey:
                            type: string
                        required:
                        - name
                        - privateKey
                        - publicKey
                        type: object
                      name:
                        type: string
                    required:
                    - key
                    - name
                    type: object
                type: object
            required:
            - controlPlaneRegions
            - hetznerSecretRef
            - sshKeys
            type: object
          status:
            description: HetznerClusterStatus defines the observed state of HetznerCluster.
            properties:
              conditions:
                description: Conditions provide observations of the operational state
                  of a Cluster API resource.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              controlPlaneLoadBalancer:
                description: LoadBalancerStatus defines the obeserved state of the
                  control plane loadbalancer.
                properties:
                  id:
                    type: integer
                  internalIP:
                    type: string
                  ipv4:
                    type: string
                  ipv6:
                    type: string
                  protected:
                    type: boolean
                  targets:
                    items:
                      description: LoadBalancerTarget defines the target of a load
                        balancer.
                      properties:
                        ip:
                          type: string
                        serverID:
                          type: integer
                        type:
                          description: LoadBalancerTargetType defines the target type.
                          enum:
                          - server
                          - ip
                          type: string
                      required:
                      - type
                      type: object
                    type: array
                type: object
              failureDomains:
                additionalProperties:
                  description: FailureDomainSpec is the Schema for Cluster API failure
                    domains. It allows controllers to understand how many failure
                    domains a cluster can optionally span across.
                  properties:
                    attributes:
                      additionalProperties:
                        type: string
                      description: Attributes is a free form map of attributes an
                        infrastructure provider might use or require.
                      type: object
                    controlPlane:
                      description: ControlPlane determines if this failure domain
                        is suitable for use by control plane machines.
                      type: boolean
                  type: object
                description: FailureDomains is a slice of FailureDomains.
                type: object
              hcloudPlacementGroups:
                items:
                  description: HCloudPlacementGroupStatus returns the status of a
                    Placementgroup.
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    servers:
                      items:
                        type: integer
                      type: array
                    type:
                      type: string
                  type: object
                type: array
              networkStatus:
                description: NetworkStatus defines the observed state of the HCloud
                  Private Network.
                properties:
                  attachedServers:
                    items:
                      type: integer
                    type: array
                  id:
                    type: integer
                type: object
              ready:
                default: false
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
