name: Verify Pull Request
on: # yamllint disable-line rule:truthy
  pull_request_target:
    types: [opened, edited, synchronize, reopened, ready_for_review]
# yamllint disable rule:line-length
jobs:
  pr-verify:
    runs-on: ubuntu-latest
    name: Verify Pull Request
    steps:
      - name: Verifier action
        id: verifier
        uses: kubernetes-sigs/kubebuilder-release-tools@012269a88fa4c034a0acf1ba84c26b195c0dbab4 # v0.4.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Verify Boilerplate
        run: make verify-boilerplate

      - name: Verify Shellcheck
        run: make verify-shellcheck

      - name: Verify Starlark
        run: make verify-starlark

      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: "18"
      - name: Install renovate
        run: npm i -g renovate@35.54.0 # TODO update this via renovatebot

      - name: Validate config
        run: |
          for file in $(find . -name "*.json5"); do
            renovate-config-validator ${file}
          done

      - name: Generate Token
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1
        id: generate-token
        with:
          app-id: ${{ secrets.SYSELF_APP_ID }}
          private-key: ${{ secrets.SYSELF_APP_PRIVATE_KEY }}
      - name: Generate Size
        uses: pascalgn/size-label-action@f8edde36b3be04b4f65dcfead05dc8691b374348 # v0.5.5
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          sizes: >
            {
            "0": "XS",
            "20": "S",
            "50": "M",
            "200": "L",
            "800": "XL",
            "2000": "XXL"
            }
      - name: Generate Labels
        uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9 # v5
        with:
          configuration-path: .github/labeler.yaml
          repo-token: ${{ steps.generate-token.outputs.token }}
      - name: Sync Labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2
        with:
          config-file: .github/labels.yaml
          token: ${{ steps.generate-token.outputs.token }}
