name: Report Binsize Treemap
# yamllint disable rule:line-length
on: # yamllint disable-line rule:truthy
  workflow_dispatch:
jobs:
  report-binsize-treemap:
    name: Report Binsize Treemap
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Fixup git permissions
        # https://github.com/actions/checkout/issues/766
        shell: bash
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: "go.mod"

      - name: Create Binsize Report
        run: make caph report-binsize-treemap-all

      - name: Upload Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ !cancelled() }}
        with:
          name: reports-${{ github.sha }}
          path: .reports
          include-hidden-files: true
          retention-days: 90
