name: "Schedule - Scan Images"
on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 12 * * 1"
  workflow_dispatch:
# yamllint disable rule:line-length
jobs:
  scan:
    name: Trivy
    runs-on: ubuntu-latest
    if: github.repository == 'syself/cluster-api-provider-hetzner'
    container:
      image: ghcr.io/syself/caph-builder:1.0.17
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Fixup git permissions
        # https://github.com/actions/checkout/issues/766
        shell: bash
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Verify Containers
        env:
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          TRIVY_USERNAME: ${{ github.actor }}
        run: make verify-container-images