name: Test Code
# yamllint disable rule:line-length
on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]
    branches:
      - main
      - "releases/**"
    paths:
      - "**.go"
      - "**go.mod"
      - "**go.sum"
      - ".github/workflows/**"
      - "Makefile"
      - "images/builder/**"
      - "images/caph/**"
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true
jobs:
  test:
    name: Test Code
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Coverage result name
        id: name
        run: |
          if [ ${{ github.event.pull_request }} ]; then
          NAME=pr-${{ github.event.pull_request.number }}
          else
          NAME=${{ github.sha }}
          fi
          echo name=${NAME} >> $GITHUB_OUTPUT

      - name: Install go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version-file: "go.mod"

      - name: Install dependencies
        run: make gotestsum go-cover-treemap setup-envtest

      - name: Install go modules for test
        shell: bash
        run: |
          cd test && go mod download

      - name: Running tests
        run: make test-unit

      - name: Create Report
        run: make report-cover-html report-cover-treemap

      - name: Test Summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.4
        with:
          paths: ".coverage/junit.xml"

      - name: Upload Report
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
        with:
          name: reports-${{ steps.name.outputs.name }}
          path: .reports
          retention-days: 30
